@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
html{
    background-color: rgba(0, 0, 0, 0.075);
}
.container{
    display:flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #fafafa;
    
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    height: 150px;
    background-color: rgb(56, 56, 56);
}

.link{
    border: solid 1px white;
    padding:0.5rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}
.link:hover{
    background-color: aquamarine;
}
.active{
    background-color: rgb(36, 151, 136);
}
.logo img{
    width: 200px;
}

.personajes{
    width: 816px;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    margin: 0 auto;

}
.personaje{
    box-shadow: 1px 1px 5px gray;
    background-color: white;
    border-radius: 5px;
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
}
.personaje:hover{
    box-shadow: 1px 0 10px rgba(0, 0, 0, 0.74);
}

#thumb{
    height:150px;
}
#corto{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.boton{
    padding: 0.2rem 1rem;
    background-color: white;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.74);
    border-radius: 5px;
    cursor: pointer;
}
.boton:hover{
    background-color: gray;
    color: white;
}
.modal{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.459);
    justify-content: center;
    align-items: center;
    display: none;
}
.modal-active{
    display: flex;
}
.content{
    width: 800px;
    height: 600px;
    background-color: #fafafa;
    border-radius: 5px;

}
.wrapper{
    padding: 5rem;
    display: flex;
    flex-direction: column;
    gap:2rem;
}

.infoyimagen{
    display: flex;
    gap: 5rem;
}
.infoyimagen img{
    height: 200px;
}
.info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.comicsyhistorias{
    display: flex;
    gap: 1rem;
}
.comics{
    height: 200px;
    min-width: 300px;
    border: solid 1px black;
    overflow-y: scroll;
    padding: 1rem;
}
.historias{
    height: 200px;
    min-width: 300px;
    border: solid 1px black;
    overflow-y: scroll;
    padding: 1rem;
}
#descripcion{
    height: 150px;
    overflow-y: auto;
}
/* Cargar más personajes */

.cargarmas{
    display: flex;
    justify-content: center;
}
.cargarmas button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
}

/* Buscador */
.buscador{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.buscador input{
    width: 500px;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: solid 1px gray;
}
.buscador input:focus{
    outline: none;
}

/* Footer */
footer{
    display: flex;
    justify-content: center;
    margin: 1rem;
}